  .fill-btn {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #ffffff !important;
  background:#0068FF !important;
  border-color: transparent !important;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.13) !important;
  border-radius: 5px !important;
  /* padding: 10px 22px !important; */
 min-width: 290px;min-height: 40px;
 margin-bottom: 10px;
}
.main-card{
  background-color: rgb(246, 248, 250);
  border: 1px solid gainsboro;
  padding: 30px;
  min-height: 90vh;
  margin-top: 30px;
}
.input-style{
  margin-bottom: 16px ;
}
.input-style input{
  min-height: 46px !important;
  height: 46px !important;
}
.form-floating>label {
  top: -8px !important}

  .form-floating>.form-control:focus~label{
    top: -18px !important
  }
  .profile-size {
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .profile-size:hover .cam-position {
    visibility: visible;
    cursor: pointer;
  }
  .cam-position {
    position: absolute;
    right: 45%;
    top: 46%;
    visibility: hidden;
    z-index: 999;
  }
  .profile-size:hover::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
  }
  .image-box {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
  }
  .image-setup {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .upload-profile-mobile{width: 82px ;margin-right: 20px;}
  .profile-panel{padding-left: 8px !important;padding-right: 8px !important;padding-bottom: 20px !important;}
  .icon {
    display: inline-block;
    background: var(--darktheme-icons) no-repeat !important;
    vertical-align: middle;
  }
  .sm {
    width: 20px;
    height: 20px;
  }
  .icon.camera {
    background-position: -479px -271px !important;
    height: 27px;
    width: 26px;
    transform: scale(1.5);
  }
  .cam-position {
    position: absolute;
    right: 45%;
    top: 46%;
    visibility: hidden;
    z-index: 999;
  }
  .dashed-box{
    height: 290px;
    border-top:2px dashed rgba(0, 0, 0, 0.2);
    border-bottom:2px dashed rgba(0, 0, 0, 0.2);
  }
@media (min-width: 768px) {
  .main-card{
    width: 350px;
  }
  
}